---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { EventItem } from "~/types";
import { format } from 'date-fns/fp'
import eventsThursdayData from "../data/info/events/thursday.json";
import eventsFridayData from "../data/info/events/friday.json";
import eventsSaturdayData from "../data/info/events/saturday.json";
const eventsThursday: Array<EventItem> = eventsThursdayData;
const eventsTFriday: Array<EventItem> = eventsFridayData;
const eventsSaturday: Array<EventItem> = eventsSaturdayData;

---

<ContentSection title="Cartel" id="2023">
  <Fragment slot="lead">
   Jueves 13 de abril de 2023
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      eventsThursday.map(({ title, description, date, place }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>


<ContentSection title="" id="2023">
  <Fragment slot="lead">
   Viernes 14 de abril de 2023
  </Fragment>
  <ul class="grid max-w-6xl ">
    {
      eventsTFriday.map(({ title, description, date, place }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

<ContentSection title="" id="2023">
  <Fragment slot="lead">
   Sábado 15 de abril de 2023
  </Fragment>
  <ul class="grid max-w-6xl ">
    {
      eventsSaturday.map(({ title, description, date, place }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
